server {
    listen 9090;
    listen [::]:9090;

    location / {
        proxy_pass http://{{ prometheus_minikube_ip.stdout }}:30090;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}

server {
    listen 3000;
    listen [::]:3000;

    location / {
        proxy_pass http://{{ prometheus_minikube_ip.stdout }}:30030;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
